body{
    background-color: LightGray;
}
h1,h2{
    font-size: 30px;
    font-family: Cascadia Code;
    color: Tomato;
    padding-left: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
    
}
p{
    font-size: 25px;
    font-family: Bahnschrift;
    color: Coral;
    padding-left: 15px;
}
ul,ol{
    font-size: 25px;
    font-family: Bahnschrift;
    color: Coral;
    padding-left: 20px;
}
a{
    font-size: 25px;
    font-family: Bahnschrift;
    color: Coral;
    padding-left: 15px;
}
.content {
    display: flex;
    margin: 50px;
}

.content-left {
    flex:1;
    background-color: black;
    padding: 40px;
    border-radius: 30px;
    margin-right: 45px;
}

.content-right {
    flex: 1;
    background-color: black;
    padding: 40px;
    border-radius: 30px;
    text-align: center;
    margin-left: 35px;
}

.content-right img {
    border-style: double;
    border-color: crimson;
    border-radius: 20px;
    border-width: 6px;
    width: 520px;
    height: 400px;
    
}